

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
    background-image: none;

}
.full{
    background-color: white;

    background-size: cover;
    background-position: center;
}
.grid-container1{
    display: flex;
    justify-content: space-around;
    height: 150%;
    align-items: stretch;
    align-content: space-around;
    flex-wrap: row wrap;
    background-color: white;
}
.grid-item1{
    background-color: khaki;
    width:50%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 12px;
    height: 290px;
}

.grid-item2{
    border-radius: 12px;
    background-color: khaki;
    width:50%;
    height: 290px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.grid-item3{

    border-radius: 12px;
    background-color: khaki;
    width:50%;
    height: 290px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.grid-item4{
   
    border-radius: 12px;
    background-color: khaki;
    width:50%;
    height: 290px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.grid-container2{
    display: flex;
    justify-content: space-around;
    height: 150%;
    align-items: stretch;
    align-content: space-around;
    flex-wrap: row wrap;
    background-color: white;
} 
.para{
    background-color: khaki;
    font-size: medium;

}