/* General styling */
.leaderboard-heading {
  font-size: 20px;
  color: wheat;
}

.leaderboard-table-container {
  display: flex;
  justify-content: center; /* Center the table horizontally */
}

.leaderboard-table {
  width: 60%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.leaderboard-table th,
.leaderboard-table td {
  border: 1px solid #dddddd;
  padding: 12px;
  text-align: left;
}

.leaderboard-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 18px;
}

.leaderboard-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.leaderboard-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.leaderboard-table tbody tr:hover {
  background-color: #eaeaea;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {
  .leaderboard-table th,
  .leaderboard-table td {
    font-size: 14px; /* Reduce font size on smaller screens */
    padding: 8px; /* Reduce padding on smaller screens */
  }
}

@media screen and (max-width: 400px) {
  .leaderboard-table th,
  .leaderboard-table td {
    padding: 6px; /* Further reduce padding on even smaller screens */
  }
}
